code/autoencoders/101_ObjectCategories/*
code/autoencoders/map_file_101_ObjectCategories.txt
code/autoencoders/output_path/*
code/autoencoders/h*
code/autoencoders/report*
code/autoencoders/my*
code/autoencoders/models/*
*.sln
*.pyproj
*.suo
*.pyc
code/autoencoders/autoencoders.7z
code/autoencoders/autoencoders_train - Copy.py
code/autoencoders/results.txt
code/autoencoder_artstyle/.ipynb_checkpoints/*
code/autoencoders2/101_ObjectCategories/*
*.gz
*.bin
code/autoencoder_artstyle/output*.*
code/cntk_finance/.ipynb_checkpoints/CNTK_104_Finance_Timeseries_Basic_with_Pandas_Numpy-checkpoint.ipynb
code/cntk_finance/data/Stock/stock_SPY.pkl
code/cntk_finance/cache/NASDAQ_MSFT.2000-01-03.2017-10-01.txt
code/torch_caffe_onnx/.ipynb_checkpoints/super_resolution_with_caffe2-checkpoint.ipynb
