code/autoencoders/101_ObjectCategories/*
code/autoencoders/map_file_101_ObjectCategories.txt
code/autoencoders/output_path/*
code/autoencoders/h*
code/autoencoders/report*
code/autoencoders/my*
code/autoencoders/models/*
*.sln
*.pyproj
*.suo
*.pyc
code/autoencoders/autoencoders.7z
code/autoencoders/autoencoders_train - Copy.py
code/autoencoders/results.txt
code/autoencoder_artstyle/.ipynb_checkpoints/*
code/autoencoders2/101_ObjectCategories/*
*.gz
*.bin
code/autoencoder_artstyle/output*.*
